@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
html {
  background: black;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#disclaim {
  font-size: 12px;
}
#index_title {
  text-align: center;
  font-family: "Major Mono Display";
}
h1 {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
p {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#basic_button {
  border: 0px;
}
.indiv_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  text-align: center;
  color: rgb(0, 162, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}
.indiv_wrapper {
  background: rgb(20, 20, 20);
  width: 146px;
  padding: 4px;
  border: 2px solid rgb(0, 162, 255);
  border-radius: 5px;
  height: 160px;
  margin: 8px;
  float: left;
  transition: all .3s;
}
.indiv_wrapper2 {
  background: rgb(20, 20, 20);
  width: 146px;
  padding: 4px;
  border: 2px solid rgb(0, 162, 255);
  border-radius: 5px;
  height: 160px;
  margin: 8px;
  transition: all .3s;
}
.indiv_wrapper3 {
  background: rgb(20, 20, 20);
  display: inline-block;
  width: 146px;
  padding: 4px;
  border: 2px solid rgb(0, 162, 255);
  border-radius: 5px;
  height: 160px;
  margin: 8px;
  transition: all .3s;
}
.indiv_wrapper:hover, .indiv_wrapper2:hover, .indiv_wrapper3:hover{
  box-shadow: 3px 3px 4px rgba(0, 247, 255, 0.493);
}
.indiv_img {
  border-radius: 5px;
  width: 144px;
  height: 108px;
}
a:link {
  text-decoration: none;
  color: rgb(0, 162, 255);
}
a:visited {
  text-decoration: none;
  color: rgb(0, 162, 255);
}
#get_link {
  color: rgb(0, 162, 255);
  background-color: rgb(30, 30, 30);
  border-radius: 3px;
  padding: 2px;
}
.button1 {
  border: 3px solid rgb(0, 162, 255);
  border-radius: 2px;
  background: rgb(20, 20, 20);
  color: white;
}
.on {
  color: rgb(100, 255, 100);
}
.off {
  color: rgb(255, 50, 50);
}
.pos {
  color: rgb(255, 174, 0);
}
.dev-updates{
  padding-top: 10vh;
}
#welcome_title {
  color: rgb(0, 162, 255);
  font-family: monospace;
  font-weight: bold;
  font-size: 34px;
  margin-bottom: -10px;
}
#welcome_wrapper {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
}
#welcome_main {
  color: white;
  font-family: arial;
  font-size: 24px;
}
#welcome_foot {
  color: rgb(0, 162, 255);
  font-family: monospace;
  font-size: 20px;
}
#center_welcome_div {
  text-align: center;
}
#text_header {
  color: rgb(0, 162, 255);
  font-size: 34px;
  font-family: monospace;
}
#main_content_welcome {
  color: white;
}
#access_wrapper {
  text-align: center;
  color: rgb(0, 162, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
#access_link {
  color: rgb(0, 162, 255);
  font-family: monospace;
  font-size: 24px;
  letter-spacing: 4px;
}
#access_linkto {
  color: rgb(0, 162, 255);
  font-family: monospace;
  font-size: 16px;
}
#access_info {
  color: white;
  font-family: sans-serif;
  font-size: 18px;
}
#access_title {
  font-family: monospace;
  font-size: 34px;
  color: white;
}
iframe {
  border: none;
  margin: 0px;
  margin-top: 14px;
  outline: none;
}
.effect {
  width: max-content;
  --color1: rgb(0, 162, 255);
  --color2: rgb(0, 68, 255);
  --color3: rgb(0, 247, 255);
  --angle: 0deg;
  padding-bottom: 4px;
  border-bottom: 4px solid;
  border-image: conic-gradient(
      from var(--angle),
      var(--color1),
      var(--color3),
      var(--color2)
    )
    1;
  animation: 8s rotate linear infinite;
}
.featured {
  display: flex;
  justify-content: center;
  align-content: center;
  /*border: 2px solid rgb(0, 162, 255);*/
}
.featured::before {
  content: "featured games";
  color: rgb(0, 162, 255);
  border-radius: 2px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-image-source: linear-gradient(
    45deg,
    rgb(34, 0, 255),
    rgb(0, 238, 255)
  );
  font-size: 24px;
  border-image-slice: 1;
  border-radius: 4px;
  margin: 10px;
  margin-right: 20px;
  display: flex;
  align-self: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.collapsible {
  background-color: rgb(66, 66, 66);
  color: white;
  cursor: pointer;
  padding: 18px;
  margin: 0px;
  border: none;
  width: calc(100vw - 50px);
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  width: calc(100vw - 86px);
  max-height: 0;
  margin: 0px;
  overflow: hidden;
  border-top: 2px solid rgb(0, 162, 255);
  transition: max-height 0.2s ease-out;
  background-color: #252525;
}
.collapse-wrap {
  padding-left: 20px;
}
.catergory {
  border-bottom: 4px solid rgb(0, 162, 255);
  padding-bottom: 4px;
  padding-left: 4px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.catergory h4 {
  margin: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  color: #fff;
}
.fcat {
  margin-top: 16px;
}
.sources {
  margin: 4px;
}
.sources::before {
  content: "Sources + More Games ";
  font-size: 12px;
}
.sources a {
  font-size: 14px;
  color: rgb(0, 162, 255);
}
.sources a::before {
  content: " ";
}
.free p {
  font-size: 20px;
  margin: 8px;
}
.free p.two {
  font-size: 10px;
  margin: 8px;
}
div iframe {
  border: none;
  width: calc(100vw - 86px);
  height: 60vh;
}
#return {
  border: 3px solid rgb(0, 162, 255);
  border-radius: 2px;
  background: rgb(20, 20, 20);
  color: white;
  margin-top: 15px;
}
#return:active {
  outline: none;
}
.note{
  display: block;
}
#devboi{
  transition: all .2s;
}
#devboi:hover::after{
  animation: fadeW .4s linear;
  content: "#3857";
  color: rgb(0, 162, 255);
  opacity: 100;
}
#devboi::after{
  transition: all .5s;
  content: "";
  opacity: 0;
}
@keyframes fadeW{
  0%{width: 0px }
  50%{width: calc(auto / 2)}
  100%{width: auto}
}
@-webkit-keyframes fadeW{
  0%{width: 0px }
  50%{width: calc(auto / 2)}
  100%{width: auto}
}
#small{
  font-size: 12px;
}
.news-item{
  display: block;
  max-width: 25vw;
}
.news-item a{
  color: #fff;
  transition: all .3s;
  opacity: 0;
}
.news-item a:hover{
  color: rgb(0, 238, 255);
}
.news-item::before{
  content: "⇨ "
}
.news-title{
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -20px;
  font-size: 18px;
}
.s{
  opacity: 100 !important;
}