body{
	padding: 2vh;
}
#vwrap>div{
	cursor: pointer;
	border: 1px solid #525252;
	border-radius: 5px;
	width: 40vw;
}
#vwrap>div>h4{
	font-size: 1.3em;
}
#vwrap>div>.sub_d{
	font-style: italic;
}
video{
	width: 50vw;
}