@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
  input[type="text"]{
      background: rgba(0, 0, 0, 0);
      border: none;
      outline: none;
      color: #63de00;
      font-family: inherit;
      font-size: inherit;
      width: 95%;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: italic;
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

  .console-container{
    margin: auto;
    width: 45vw;
    height: 40vh;
    margin-bottom: 10vh;
  }

  .console {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    overflow: hidden;
  }

  .console-input{
    padding-bottom: 15%;
  }
  
  .console h1 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #555;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #DDD;
  }
  
  .console .consolebody {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    height: calc(100% - 40px);
    background-color: #000;
    color: #63de00;
  }

  .consolebody{
    overflow: scroll;
  }
  
  .console .consolebody p {
    line-height: 1.5rem;
  }

  .preview-container{
    width: 40%;
    height: 40%;
  }

  .preview-container > img{
    max-width: 100%;
    max-height: 100%;
  }

  .button-wrapper{
    padding-top: 2%;
    text-align: center;
  }

  .console-button {
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.6em 2em;
    margin-right: 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    width: 200px;
    font-size: 1.25rem
  }

  @media screen and (max-width: 1650px){
    .console-button{
      width: 150px;
      font-size: 0.75rem
    }
  }

  @media screen and (max-width: 1200px){
    .console-button{
      width: 125px;
      font-size: 0.6rem
    }
  }
  
  .console-button:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .console-button:active {
    color: black;
  }
  
  .console-button:active:after {
    background: transparent;
  }
  
  .console-button:hover:before {
    opacity: 1;
  }
  
  .console-button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
  }